<mat-card> 
    <mat-card-title>
        Alterar Dados
    </mat-card-title>
    <form>
    <mat-form-field> 
       <input matInput placeholder="Nome" [(ngModel)]="student.nome" name="nome"/> 
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Matricula" [(ngModel)]="student.matricula" name="matricula" /> 
     </mat-form-field>
     <mat-form-field>
        <input matInput placeholder="E-mail" [(ngModel)]="student.email" name="email" /> 
     </mat-form-field>
    </form>
    
    
    <button mat-raised-button (click)="updateStudent()" class="primary">
        Atualizar
    </button>
    <button mat-raised-button (click)="cancel()" >
        Cancelar
    </button>
</mat-card>